* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: lightgray;
    font-family:'Andale Mono'
}

h1{
    text-align: center;
    margin-top:20px;
}

#canvas{
    background-color: black;
    color: white;
    box-shadow: 5 2 2 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}